body {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100% 
}

a {
	text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.modal-map,
.modal-letter {
	display: none;
}

.header-container,
.footer-container {
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 17px;
}

.header-container address,
.footer-container address {
	font-style: normal;
}

.header-container ul,
.footer-container ul {
	list-style: none;
}

.header-container a,
.footer-container a {
	color: #ffffff;
}

.header-top,
.footer-bottom {
	background-color: #293449;
}

.header-bottom {
	background-color: #f4f7f9;
}

.logo {
	width: 220px;
	height: 47px;
	background-color: #ee3643;
}

.search {
	color: #ffffff;
}

.make-order {
	background-color: #63a63e;
}

.shop-name {
	color: #ee3643;
	font-size: 16px;
	font-style: italic;
}

.header-bottom address {
	color: #32425c;
	font-size: 14px;
}

.header-bottom address a {
	color: #ee3643;
	font-size: 21px;
}


.login-buttons a {
	color: #000000;
	font-size: 21px;
}


.footer-top {
	background-color: #32425c;
}

.header-nav {
	background-color: #32425c;
}



.about {
	background-color: #ffffff;
}

.info h2 {
	font-size: 30px;
	color: #000000;
}

.info p {
	font-size: 13px;
	font-family: 'PTSans', 'Arial', sans-serif;

}

.info ul {
	list-style: none;
}

.info a {
	color: #ffffff;
	background-color: #ee3643;
}