body {
	margin: 0;
	padding: 0;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 17px;
}

img {
	max-width: 100% 
}

a {
	text-decoration: none;
}

address {
	font-style: normal;
}

ul {
	list-style: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.modal-map,
.modal-letter,
.modal-add {
	display: none;
}
/*HEADER*/

.header-top {
	background-color: #293449;
	line-height: 18px;
}

.header-top a {
	color: #ffffff;
}
	
.logo {
	background-color: #ee3643;
}

.search-field input {
	background-color: #293449;
	border: 0px;
}

.search-field input:focus {
	background-color: #ffffff;
}

.search-field input::placeholder {
	color: #ffffff;
	font-size: 17px;
}

.make-order {
	background-color: #63a63e;
}
.make-order:hover {
	background-color: #5fbb2d;
}

.header-bottom {
	background-color: #f4f7f9;
}

.shop-title {
	color: #ee3643;
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
}

.header-address {
	color: #32425c;
	font-size: 14px;
}

.header-phone a {
	color: #ee3643;
	font-size: 21px;
}

.user-info {

}

.user-name {
	font-size: 21px;
}

.user-info-list a {
	color: #32425c;
	font-size: 16px;
	text-decoration: underline;
}


.log-reg-buttons  {
	font-size: 21px;
}

.log-button {
	color: #000000;
}

.reg-button {
	color: #000000;
}

.log-button:hover,
.reg-button:hover {
	color: #ee3643;
}

.header-nav {
	background-color: #32425c;
}

.header-nav-list a {
	color: #ffffff;
}

.header-nav-list>li:hover {
	background-color: #293449;
}

/*Main-index*/

.about-list {
	font-size: 18px;
}

.info h2 {
	font-size: 30px;
	text-transform: uppercase;
	color: #000000;
}

.info-item {
	font-size: 13px;
	font-family: 'PTSans', 'Arial', sans-serif;
	line-height: 24px;

}

.info-button {
	color: #ffffff;
	background-color: #ee3643;
}

/*Main-catalog*/

.catalog-header {
	font-size: 30px;
	color: #32425c;
	text-transform: uppercase;
}

.catalog-nav a {
	font-family: "PTSans", "Arial", sans-serif;
	font-size: 13px;
	color: #000000;
	text-transform: uppercase;
}

.catalog-filter {
	font-family: "PTSans", "Arial", sans-serif;
}

.catalog-filter fieldset {
	border: 0;
}

.catalog-filter legend {
	font-size: 17px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}

.manufactures-list li  {
	font-size: 15px;
	color: #000000;
	text-transform: uppercase;
}

.supply-list li {
	font-size: 15px;
	color: #000000;
	text-transform: uppercase;
}

.button-filter {
	font-size: 13px;
	color: #000000;
	text-transform: uppercase;
}

.catalog-items {
	font-family: "PTSans", "Arial", sans-serif;
}

.catalog-items-info h3 {
	font-weight: bold;
	font-size: 18px;
	color: #000000;
}

.catalog-item-info del {
	font-weight: bold;
	font-size: 17px;
	color: #999999;
}

.catalog-item-price {
	font-size: 17px;
	color: #ffffff;
}

.catalog-item-price  {
	width: 141px;
	height: 38px;
	background-image: url("../img/item-button.svg");
}

.item-buy {
	width: 135px;
	height: 38px;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 14px;
	background-color: #63a63e;
	text-transform: uppercase;
}

.item-buy:hover {
	background-color: #5fbb2d;
}

.item-buy a {
	color: #ffffff;
}

.item-bookmarks {
	width: 129px;
	height: 32px;
	border: 3px solid #63a63e;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 14px;
	background-color: #ffffff;
	text-transform: uppercase;
}

.item-bookmarks:hover {
	border-color: #32425c;
}


.item-bookmarks a {
	color: #32425c;
}

/*Footer*/
.footer-top {
	background-color: #32425c;
}

.footer-address {
	color: #ffffff;
	font-size: 18px;
}

.footer-phone {
	color: #ffffff;
	font-size: 18px;
}

.footer-nav a {
	color: #ffffff;
	font-size: 18px;
}
.footer-nav>li:hover {
	text-decoration: underline;
}

.marked-nav {
	color: #ffda96;
}

.footer-bottom {
	background-color: #293449;
}

.copyright {
	color: #ffffff;
	font-size: 16px;
}

.social {
	width: 42px;
	height: 42px;
	background-color: #212a3a;
	border-radius: 50%;
}

.social:hover {
	background-color: #ee3643;
}

.vk {
	width: 26px;
	height: 15px;
	background-image: url("../img/vk-icon.svg");
	
}
.fb {
	width: 12px;
	height: 22px;
	background-image: url("../img/fb-icon.svg");
}

.insta {
	width: 21px;
	height: 21px;
	background-image: url("../img/insta-icon.svg");
}

.mail-to>a {
	font-size: 16px;
	color: #ffda96;
}

.mail-to>a:hover {
	text-decoration: underline;
}

.mail-to>span {
	color: #ffffff;
}

.make-by>a {
	font-size: 16px;
	color: #ffda96;
}

.make-by>a:hover {
	text-decoration: underline;
}

.make-by>span {
	color: #ffffff;
}

